<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Se han dejado espacios en blanco en campos obligatorios o se ha intentado borrar registros con restricciones</h2>
    </hgroup>
</body>
</html>
