
<button type="button" class="btn btn-primary" (click)="router.navigate(['/form']);">Insert</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ShipperID</th>
      <th scope="col">Company Name</th>
      <th scope="col">Phone</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let shipper of listShippers" (click)="onSelect(shipper)">
      <th scope="row">{{shipper.shipperID}}</th>
      <td>{{shipper.companyName}}</td>
      <td>{{shipper.phone}}</td>

        <td><button type="button" class="btn btn-info">Update</button></td> 
        <td><button type="button" class="btn btn-danger" (click)="deleteShipper(shipper)">Delete</button></td>
    </tr>
    <!-- <button type="button" class="btn btn-danger" (click)="onDelete() ">Delete</button> -->
    <!-- <button type="button" class="btn btn-primary" (click)="router.navigate(['/form']);">Insert</button> -->
  </tbody>
</table>


<!-- <button type="button" class="btn btn-primary" (click)="router.navigate(['/form']);">Insert</button>
<ul class="shippers">
  <li *ngFor="let shipper of listShippers" [class.selected]="shipper === selectedShipper" (click)="onSelect(shipper)" [value]="shipper.shipperID" >
    <span class="badge">{{shipper.shipperID}}</span> {{shipper.companyName}}
    <button class="delete" title="delete shipper" (click)="deleteShipper(shipper.shipperID)">X</button>      
  </li>
  
</ul> -->



<app-shipper-detail [shippers]="selectedShipper"></app-shipper-detail>

<app-shippers-form [seleccionShipper]="selectedShipper"></app-shippers-form>

<!-- <app-shippers-form [shippers]="selectedShipper" (messageEvent)="receiveMessage($event)"></app-shippers-form> -->


<!--  para el shipper form [callBackFunction]="myCallbackFunction" -->


<!-- para el button update (click)="onEdit(shipper)" -->

<!-- (click)="onEdit(selectedShipper)" -->
